<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- HSQLDB -->
        <!--<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>-->
        <!--<property name="connection.url">jdbc:hsqldb:file:./db/db</property>-->
        <!--<property name="dialect">org.hibernate.dialect.HSQLDialect</property>-->
        <!--<property name="connection.username">admin</property>-->
        <!--<property name="connection.password">admin</property>-->

        <!-- H2 -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <!--<property name="connection.url">jdbc:h2:mem:db</property>-->
        <property name="connection.url">jdbc:h2:./db/db</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>
        <!-- Enable Hibernate's current session context -->
        <property name="current_session_context_class">org.hibernate.context.internal.ManagedSessionContext</property>

        <property name="cache.use_second_level_cache">false</property>
        <property name="cache.use_query_cache">false</property>
        <!--<property name="hbm2ddl.auto">update</property>-->
        <property name="hbm2ddl.auto">create</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>

        <!-- Mapping files -->
        <mapping class="fr.unistra.bioinfo.persistence.entities.Replicon"/>
        <mapping class="fr.unistra.bioinfo.persistence.entities.Hierarchy"/>
    </session-factory>
</hibernate-configuration>